<span class="input-group-text append_over data-toggle" data-toggle>
  <%= svg_icon name: "calendar.svg", width: '16', height: '16' %>
</span>

<span class="input-group-text append_under data-clear" data-clear>
  <%= svg_icon name: "close.svg", width: '16', height: '16' %>
</span>
